@use '../abstracts/_mixins.scss' as mx;
@use '../base/variables' as v;

.btn {
    display: flex;
    justify-content: flex-end;
}

.btn__primario {
    @include mx.btn(v.$gradiente_textos);
}

.btn__secundario {
    @include mx.btn(v.$primario);
    color: v.$blanco;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    font-weight: v.$bold;
    width: 100%;
}

.btn__terciario {
    @include mx.btn(v.$gris);
    color: v.$blanco;
}