@use '../base/variables' as v;
@use '../../styles/abstracts/mixins' as mx;

.contenedor {
    margin: 0 auto;
    width: min(90%, 130rem);
    overflow: hidden;
}

.error {
    color: v.$blanco;
    padding: 1rem;
    border-radius: .5rem;
    margin: -3rem 0 1rem 0 !important;
}

li {
    list-style: none;
    padding-left: 0;
    margin: 1rem 0;
}

.gradiente_titulo {
    font-family: v.$font_secundario;
    background: v.$gradiente_textos;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.card {
    padding: 3rem;
    border-radius: 0.8rem;
    background-color: hsl(270 15% 12% / 0.4);
    border: 1px solid rgb(43, 43, 43);
    transition: 0.3s ease-in-out;

    &--mensaje {
        p {
            font-size: 1.3rem;
        }
    }
}