@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
$primario: #b447eb;
$terciario: #EE2B8E;
$cuarto: #f4c025;

$gradiente_textos: linear-gradient(90deg, #cd57fc, #ff7300);

$blanco: #ffffff;
$negro: #000000;
$gris: #8C8792;

$font_primario: "Inter", sans-serif;
$font_secundario: "Playfair", serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$b_radius: 1.5rem;

$telefono_pequeno: 480px;
$telefono_mediano: 600px;
$telefono_grande: 765px;
$tablet_pequena: 1024px;
$tablet_grande: 1280px;
$desktop_mediana: 1366px;
$desktop_grande: 1920px;