  $primario: #52AADF;
  $secundario: #7c18b1;
  $dark_blue: #0a0c45;
  $alerta: #ff0000;

  $fondo: #f6fbff;
  $blanco: #ffffff;
  $negro: #000000;
  $gris: #c2c2c2;
  $gris_oscuro: #757575;

  $font_primario: 'Poppins', sans-serif;

  $delgada: 300;
  $regular: 400;
  $bold: 700;
  $black: 900;

  $b_radius: 1.5rem;

  $telefono_pequeno: 480px;
  $telefono_mediano: 600px;
  $telefono_grande: 765px;
  $tablet_pequena: 1024px;
  $tablet_grande: 1280px;
  $desktop_mediana: 1366px;
  $desktop_grande: 1920px;